*{
    color: white;
}


body{
    background-image: url(background.png);
    width: 1440px;
    height: 1024px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header{
    display: flex;
    align-items: center;
}


.header_1{ 
     display: inline-flex;
     align-items: center;
     width: 860px;
}

.pig_1{
    border-radius: 58px;
    height: 116px;
    width: 116px;
}

.game_name{
    width: 377px;
    height: 64px;
    flex-shrink: 0;
    margin-left: 69px;
    color: #FFF;
    font-family: "Madimi One";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

button{
    background-color: #030060;
    width: 116px;
    height: 50px;
    color: #FFF;
    font-family: "Madimi One";
    font-size: 15px;
    border-radius: 50px;
    margin-left: 66px;
    padding-left: 14px;
    padding-right: 14px;
    border-color:#030060;
}


.main_align{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    width: 1255px;
    display: flex;
    flex-direction: column;
}


h1{
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.instructions{
    color: #FFF;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

h2{
    color: #FFF;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 0px;
}
ul{
  
    list-style-type: disc !important;
}


.list{

    color: #FFF;
    font-family: Inter;
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   margin-top: auto;
}

#roll{
    background-color: 0000FF;
    color: #FFF;
    text-align: center;
    font-family: Italianno;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.guide{
    display: flex;
    flex-direction: row;
    margin-top:-20px;
}

.guide_2{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

#hold{
    background-color: FF0000;
    color: #FFF;
    text-align: center;
    font-family: Italianno;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 169px;
    border: none;
}

