*{
    color: white;
}

body{
    background-image: url(background.png);
    width: 1440px;
    height: 1024px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header{
    display: flex;
    align-items: center;
}


.header_1{ 
     display: inline-flex;
     align-items: center;
     width: 860px;
}

.pig_1{
    border-radius: 58px;
    height: 116px;
    width: 116px;
}

.game_name{
    width: 377px;
    height: 64px;
    flex-shrink: 0;
    margin-left: 69px;
    color: #FFF;
    font-family: "Madimi One";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main{
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
}

.main_1{
    display: flex;
    flex-direction: column;
    margin-left: 75px;
    
}

.main_2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 712px;
    height: 452px;
    flex-shrink: 0;
    border-radius: 60px;
    background: rgba(3, 0, 96, 0.75);
}

h1{
    width: 453px;
    height: 0px;
flex-shrink: 0;
color: #FFF;
font-family: "Madimi One";
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: 0;
}


.color{
    width: 453px;
    height: 0px;
    flex-shrink: 0;
    color: purple;
    font-family: "Madimi One";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 0;
}

.text{
    width: 554px;
height: 150px;
flex-shrink: 0;
color: #FFF;
font-family: "Madimi One";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#play{
    width: 210px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 50px;
background: #FFF;
color: black;
font-family: "Madimi One";
font-size: 45px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

#tutorial{
    width: 210px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F00;
    color: white;
    border: none;
    font-family: "Madimi One";
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.score{
    display: flex;
    flex-direction: column;
}

.text_2{
    width: 243px;
height: 42px;
flex-shrink: 0;
color: #FFF;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
    width: 600px;
}

.scoreboard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#your_scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    color: 1A0000;
    font-family: "Madimi One";
    font-size: 25px;
    width: 304px;
height: 53px;
flex-shrink: 0;
border-radius: 25px;
background: #FFF;

}

#opp_scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    color: 1A0000;
    font-family: "Madimi One";
    font-size: 25px;
    width: 304px;
    height: 53px;
    flex-shrink: 0;
    border-radius: 25px;
    background: #FFF;
}

.dice{
    width: 63px;
height: 63px;
flex-shrink: 0;
aspect-ratio: 1/1;

}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    height: 100px;
    margin-left: -150px;
}

.pig_2{
    width: 110px;
height: 110px;
flex-shrink: 0;
aspect-ratio: 1/1;
border-radius: 50px;
margin-left: -37px;
}

.roll{
    display: flex;
    width: 151px;
    height: 90px;
    background-color: 0000FF;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Italianno;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 80px;
    border: none;
    margin-left: 37px;
}

.hold{
    display: flex;
    width: 151px;
    height: 90px;
    background-color:FF0000;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Italianno;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 80px;
    border: none;
}


